.background{
    background-color: rgba(10,25,47,255);
    height: fit-content;
    padding-top: 60px;
    padding-bottom: 110px;
}
.none{
    color: #50c9b3;
}
.about-me{
    color: white;
    background-color: #3c998e;
}