.home-img {
  background-color: rgb(71, 89, 255);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}

.bg-personal-photo {
  overflow: hidden;
  background-image: url("../../Images/work.jpg");
  background-image: url("../../Images/work.jpg");
}

.home-bg {
  background-image: url("../../Images/home-bg.jpg");
  background-size: cover;
}