/* general start, applies to all */
.background {
  background-color: rgb(13, 29, 52);
}

.min-h-100vh {
  min-height: 100vh;
}

.font-700 {
  font-weight: 700 !important;
}

.font-600 {
  font-weight: 600;
}

.font-500 {
  font-weight: 500;
}

.font-400 {
  font-weight: 400;
}

.font-300 {
  font-weight: 300 !important;
}

h2 {
  font-size: clamp(1.5rem, 2vw, 6rem) !important;
}

h3 {
  font-size: clamp(1.1rem, 2.2vw, 6rem) !important;
}


h4 {
  font-size: clamp(2rem, 4vw, 5rem) !important;
}

h5 {
  font-size: clamp(1.4rem, 2.1vw, 5rem) !important;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
}

.aspect-ratio-1 {
  aspect-ratio: 1/1;
}

.object-cover {
  object-fit: cover;
}

.gradient-color-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


.gradient-white {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.0005), white);
}

.gradient-white-2 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0005), white);
}

.gradient-1 {
  background-image: linear-gradient(45deg, #00ccff, #d400d4);
}

.gradient-3 {
  background-image: linear-gradient(45deg, orangered, white);
}

.gradient-4 {
  background-image: linear-gradient(45deg, #00ccff, white);
}

.gradient-5 {
  background-image: linear-gradient(45deg, yellow, white);
}

.gradient-6 {
  background-image: linear-gradient(45deg, green, white);
}

.gradient-7 {
  background-image: linear-gradient(45deg, rgb(81, 31, 31), rgb(246, 15, 53));
}

.gradient-8 {
  background-image: linear-gradient(45deg, rgb(209, 24, 209), white);
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none>* {
  user-select: none;
}

.section-title-alt {
  position: absolute;
  content: '';
  z-index: 1;
  top: -90%;
  left: -25%;
  font-size: clamp(4.5rem, 10vw, 18rem) !important;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(245deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.005));
}

.neumorphism {
  overflow: hidden;
  border-radius: 10px !important;
  background: #0a192f;
  box-shadow: 20px 20px 63px #070c17,
    -20px -20px 63px #152647;
  color: white;
}

/* general END, applies to all */


/* home start */

/* .welcome {
  position: absolute;
  content: '';
  top: 0;
  left: 15%;
  font-size: clamp(4rem, 12vw, 12rem);
  font-weight: 600;
  color: white;
  background-image: linear-gradient(245deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.005));
}

.fancy-borderRadius {
  border-radius: 30% 70% 70% 30% / 30% 30% 60% 70%;
  background: #ad5389;
  background: -webkit-linear-gradient(to right,
      #00ccff,
      #ad5389);
  background: linear-gradient(to right,
      #00ccff,
      #ad5389);
} */


/* contact me section start */

input,
textarea {
  border-radius: 8px;
  background: rgb(3, 21, 47);
  box-shadow: inset 8px 8px 30px rgba(0, 0, 0, 0.3), inset -4px -4px 30px rgba(255, 255, 255, 0.05);
  color: white;
  border: none;
  outline: none !important;
  appearance: none;
}

input:focus,
textarea:focus {
  box-shadow: 1px 1px 15px #00ccff, -1px -1px 15px #d400d4, inset 8px 8px 16px rgba(0, 0, 0, 0.3), inset -8px -8px 16px rgba(255, 255, 255, 0.05);
}

/* contact me section end */




.bg-white-gradient-2 {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 8px 18px;
  border-radius: 8px;
}

.bg-white-gradient {
  background-color: rgba(255, 255, 255, 0.06);
  position: relative;
  border-radius: 18px;
  color: white;
}

.bg-white-gradient::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.06);
  position: absolute;
  inset: -7px;
  border-radius: 24px;
}

.bg-white-gradient::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.04);
  position: absolute;
  inset: -14px;
  border-radius: 30px;
}

.bg-white-gradient-round {
  position: relative;
  color: white;
}

.bg-white-gradient-round::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.06);
  position: absolute;
  inset: 0px;
  border-radius: 60px;
}

.brightness-1 {
  filter: brightness(2);
}



/* Technologies section start */
.bg {
  background-image: url('../src/Images/portfolio-6.png');
  background-size: cover;
  background-position: center;
}

.img-width {
  width: clamp(50px, 4vw, 70px);
}

/* Technologies section end */



/* leftSidebar start */
.nav {
  height: 100vh;
  height: 100dvh;
  z-index: 100;
  left: 0;
  color: white;
}

.nav>.active .nav-child {
  box-sizing: border-box;
  transition: 150ms ease;
  box-shadow: 0px 0px 5px white;
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
    height: 60px;
    background-color: #0a192f;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;

  }
}

/* leftSidebar end */



/* service section start */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.cards-container.active {
  grid-template-columns: repeat(6, 1fr);
  transition: all 500ms ease;
}

.card {
  background-color: transparent !important;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  grid-column: span 3;
}

.card>ul {
  list-style: none;
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s linear;
}

.card>ul.active {
  display: block;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s linear;
}

.card p {
  line-height: 2rem;
  display: none;
}

.card .card-title {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card.active p {
  display: block;
}

.card.active {
  grid-column: 1 / span 6;
  grid-row: 1;
  order: 1;
  height: auto;
}

.card.is-inactive {
  grid-column: span 2;
}

/* service section end */