@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0a192f !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}